@model IEnumerable<GigNow.Models.Venue>
@{
    Layout = null;
}

<div><h2>Venue Watchlist</h2></div>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address.zipcode.city.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "VenueView", "Venues", new { venueId = item.VenueId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address.zipcode.city.Name)
            </td>
        </tr>
    }

</table>*@
<ul style="list-style-type:none">
    @foreach (var item in Model)
    {
        <li >
            @Html.ActionLink(item.Name, "VenueView", "Venues", new { venueId = item.VenueId }, null)
        </li>
    }
</ul>





