@model GigNow.Models.VenueViewModelVM

@{
    ViewBag.Title = "VenueView";
} 
@if(ViewBag.Partial == "true")
{
    Layout = null;
}


<br />
<br />

<div>
    <div class="gigMap">
        <br /><br />
        @if (ViewBag.User == "Artist" || ViewBag.User == "Listener")
            {
            <iframe width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src="@ViewBag.Route" allowfullscreen></iframe>
            <h3>Your Route to @Model.venue.Name</h3>
        }
        else
        {
            <iframe width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src="@ViewBag.Map" allowfullscreen></iframe>
        }
    </div>
    <div class="venueProfile">
        @if (ViewBag.User == "Venue Admin")
        {
            @Html.Action("Inbox", "VenueNotifications")
        }
        else
        {
            <h1>@Html.DisplayFor(model => model.venue.Name)</h1>
        }
        <div class="profileImage">
            <img src="@Url.Action("ShowPhoto","Photos", new {PhotoId = Model.photo.PhotoId})" width="350">
        </div>
        <div class="profileDetails">
            <div>
                @Html.DisplayFor(model => model.address.StreetAddress)<text>,</text>@Html.DisplayFor(model => model.address.Apt)<br />
                @Html.DisplayFor(model => model.city.Name)<text>,</text>@Html.DisplayFor(model => model.state.Name)<text>  </text> @Html.DisplayFor(model => model.zipcode.ZipCode)
            </div>
            <div>
                <h3><a href="@Html.DisplayFor(model => model.venue.SiteLink)">Website</a></h3>
            </div>
            <div>                
                <h3><a target="_blank" href="@Html.DisplayFor(model => model.venue.FBLink)" class="social facebook"></a></h3>
            </div>
            <div>               
                <h3><a target="_blank" href="@Html.DisplayFor(model => model.venue.FBLink)" class="social twitter"></a></h3>
            </div>
        </div>
        <br />
        <div style="clear: both">
            
                @if (ViewBag.User == "Venue Admin" || ViewBag.User == "Artist")
            {
                    <dl class="dl-horizontal"style="font-size:larger">
                        <dt>
                            @Html.DisplayNameFor(model => model.venue.Capacity)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.venue.Capacity)<text> people</text>
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.venue.StageSize)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.venue.StageSize)<text> square feet</text>
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.venue.SoundSystem)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.venue.SoundSystem)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.venue.LoadInInstructions)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.venue.LoadInInstructions)
                        </dd>
                    </dl>
                }

            

      </div>
    </div>
</div>
<div style="clear:both">
    @if (Model.gigList.Count > 0)
    {
        <h4>@Html.Action("ShowGigList", "Gigs", new { gigList = Model.gigList, gigView = "true" })</h4>
    }
</div>
<div>
    @if (ViewBag.User == "Venue Admin")
    {
        <h3>
            @Html.ActionLink("Edit your Venue", "Edit", new { venueId = Model.venue.VenueId }) | 
            @Html.ActionLink("Add a Gig", "Create", "Gigs")
        </h3>
    }
    else if (ViewBag.User == "Listener")
    {
        if (ViewBag.Watched == "true")
        {
            <h2>You are Watching @Html.DisplayFor(model => model.venue.Name)</h2>

        }
        else
        {
            <h3>@Html.ActionLink("Watch this Venue", "Create", "VenueRelationships", new { venueId = Model.venue.VenueId }, null)</h3>
        }
    }
</div>





