@model GigNow.Models.ArtistViewModelVM

@{
    ViewBag.Title = "ArtistView";
}
@if(ViewBag.Partial == "true")
{
     Layout = null;
}


<div>
    @if (ViewBag.Partial == "false")
    {
        <div class="gigMap">
            <br /><br />
            <img src="@ViewBag.MapUrl" />
            <h3>Gigs in Red</h3>
        </div>
    }

    <div class="artistprofile">
        @if (ViewBag.User == "Artist Manager")
        {
            @Html.Action("Inbox", "ArtistNotifications")
        }
        else
        {
            <h1>@Html.DisplayFor(model => model.artist.Name)</h1>
        }
        
        <div class="profileImage">
            <img src="@Url.Action("ShowPhoto","Photos", new { PhotoId = Model.photo.PhotoId })" width="350">
        </div>


        <div class="profileDetails">
            <div>
                @Html.DisplayFor(model => model.city.Name)
            </div>
            <div>
                @Html.DisplayFor(model => model.artist.Genre1)<text>, </text>@Html.DisplayFor(model => model.artist.Genre2)<text>, </text>@Html.DisplayFor(model => model.artist.Genre3)
            </div>
            <div>
                @Html.DisplayFor(model => model.artist.Type)
            </div>
            <div>
                @Html.DisplayFor(model => model.artist.NumberOfMembers)<text> members</text>
            </div>
            <div>
                <h3><a href="@Html.DisplayFor(model => model.artist.SiteLink)">Website</a></h3>
            </div>
            <div>
                <h3><a href="@Html.DisplayFor(model => model.artist.FBLink)">Facebook</a></h3>
            </div>
            <div>
                <h3><a href="@Html.DisplayFor(model => model.artist.TwitterLink)">Twitter</a></h3>
            </div>
        </div>
        <div>
            <div>
                @Html.Raw(Model.artist.BandCampEmbed1)
            </div>
            <div>
                @Html.Raw(Model.artist.BandCampEmbed2)
            </div>
            <div>
                @Html.Raw(Model.artist.BandCampEmbed3)
            </div>
        </div>
        <div style="clear:both">
            @if (ViewBag.Partial == "true" || ViewBag.Partial == "truthy")
            {
                <h3>@Html.ActionLink("View full profile", "ArtistView", new { artistId = Model.artist.ArtistId, partial = "false" })</h3>
            }
        </div>
    </div>


</div>
@if (ViewBag.Partial == "false")
{
    <br />
    <div style="width: 50%">
        @if (Model.gigList.Count > 0)
        {

            <h4>@Html.Action("ShowGigList", "Gigs", new { gigList = Model.gigList, gigView = "Artist" })</h4>

        }
    </div>
    if (ViewBag.User == "Listener")
    {
        if (ViewBag.Watched == "true")
        {
            <h3>You are Watching @Html.DisplayFor(model => model.artist.Name)</h3>

        }
        else
        {
            <h3>@Html.ActionLink("Watch this Artist", "Create", "ArtistRelationships", new { ArtistId = Model.artist.ArtistId }, null)</h3>
        }

    }
    else if (ViewBag.User == "Artist Manager")
    {


        <div>
            <h3>
                @Html.ActionLink("Edit Your Profile", "Edit", new {artistId = Model.artist.ArtistId})

            </h3>
        </div>

    }
}

