@model IEnumerable<GigNow.Models.Slot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gig.DefaultGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compensation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFilled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtistType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseGigDefaults)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gig.DefaultGenre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compensation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFilled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseGigDefaults)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SlotId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SlotId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SlotId })
        </td>
    </tr>
}

</table>
