@model GigNow.Models.VenueRelationship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VenueRelationship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Listener.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listener.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VenueRelationshipId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
