@model GigNow.Models.ArtistNotification

@{
    ViewBag.Title = "Details";
}

@*<div align="center"><h2>@Model.message</h2></div>*@

<div>
    <div >
        @Html.Action("GigView", "Gigs", new { gigId = Model.slot.Gig.GigId, partial = "true"})
    </div>
    <div style="clear: both">
        @Html.Action("Details", "Slots", new { slotId = Model.slot.SlotId })
    </div>
</div>
<h3>
    @Html.ActionLink("Apply to slot", "Apply","VenueNotifications", new { artistNotificationId = Model.ArtistNotificationId },null) |
    @Html.ActionLink("Decline", "MarkAsReadThenArtist", "ArtistNotifications", new {artistNotificationId = Model.ArtistNotificationId}, null) |
    @Html.ActionLink("Respond with counter-offer", "CounterOffer", "VenueNotifications", new {artistNotificationId = Model.ArtistNotificationId},null)
</h3>
