@model IEnumerable<GigNow.Models.ArtistNotification>
@{ Layout = null;}
<div >
    <div>
        <div id="inbox"><h1 style="color: white">@ViewBag.Name<sup style="color: orangered">@Model.Count()</sup></h1></div>
        <div style="font-size:large">
            <ul id="notifications" style="display:none">
                @foreach (var item in Model)
                {
                    @*<li>@Html.DisplayFor(modelItem => item.message)<text> </text>@Html.ActionLink("View Gig", "MarkAsRead", "ListenerNotifications", new { listenerNotificationId = item.ListenerNotificationId }, null)</li>*@
                        if (item.type == "Slot Opening" || item.type == "Counter-Offer Declined")
                        {
                            <li>
                                @Html.DisplayFor(modelItem => item.message)<text> </text>@Html.ActionLink("View Full Message", "Details", "ArtistNotifications", new { ArtistNotificationId = item.ArtistNotificationId }, null)
                            </li>
                        }

                        else if (item.type == "Counter-Offer Accepted" || item.type == "Application Accepted" || item.type == "Gig Reminder")
                        {
                            <li>
                                @Html.DisplayFor(modelItem => item.message)<text> </text>@Html.ActionLink("View Gig", "MarkAsReadThenGig", "ArtistNotifications", new { ArtistNotificationId = item.ArtistNotificationId }, null)<text> | </text>@Html.ActionLink("Mark as Read", "MarkAsReadThenArtist", "ArtistNotifications", new { ArtistNotificationId = item.ArtistNotificationId }, null)                           
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.DisplayFor(modelItem => item.message)<text> </text>@Html.ActionLink("Mark as Read", "MarkAsReadThenArtist", "ArtistNotifications", new { ArtistNotificationId = item.ArtistNotificationId }, null)
                            </li>
                        }
                }
            </ul>
        </div>     
    </div>
    @*<script src="~/Scripts/ClickForInBox.js"></script>*@
</div>

