@model IEnumerable<GigNow.Models.VenueNotification>
@{
    Layout = null;
}
@*<div align="center">
    <div><h1>InBox</h1></div>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.type)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    @if(item.type == "Gig Reminder")
                    {
                        <td>
                            @Html.ActionLink("View Gig", "MarkAsReadThenGig", "VenueNotifications", new { venueNotificationId = item.VenueNotificationId }, null) |
                            @Html.ActionLink("Mark As Read", "MarkAsReadThenVenue", "VenueNotifications", new { venueNotificationId = item.VenueNotificationId }, null)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("View Full Message", "Details", "VenueNotifications", new { venueNotificationId = item.VenueNotificationId }, null)
                        </td>
                    }

                </tr>
            }

        </table>
    }
    else
    {
        <h2>No new Notifications</h2>
    }

    <script src="~/Scripts/ClickForInBox.js"></script>
</div>*@
<div>
    <div>
        <div id="inbox"><h1 style="color: white">@ViewBag.Name<sup style="color: orangered">@Model.Count()</sup></h1></div>
        <div style="font-size:large">
            <ul id="notifications" style="display:none">
                @foreach (var item in Model)
                {
                    @*<li>@Html.DisplayFor(modelItem => item.message)<text> </text>@Html.ActionLink("View Gig", "MarkAsRead", "ListenerNotifications", new { listenerNotificationId = item.ListenerNotificationId }, null)</li>*@
                if (item.type == "Gig Reminder")
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.message)<text> </text>@Html.ActionLink("View Gig", "MarkAsReadThenGig", "VenueNotifications", new { venueNotificationId = item.VenueNotificationId }, null)<text> | </text>@Html.ActionLink("Mark As Read", "MarkAsReadThenVenue", "VenueNotifications", new { venueNotificationId = item.VenueNotificationId }, null)
                    </li>
                }
                else
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.message)<text> </text>@Html.ActionLink("View Full Message", "Details", "VenueNotifications", new { venueNotificationId = item.VenueNotificationId }, null)
                    </li>
                    }
                }
            </ul>
        </div>
    </div>
    @*<script src="~/Scripts/ClickForInBox.js"></script>*@
</div>