@model GigNow.Models.GigViewModelVM
@{
    ViewBag.Title = "GigView";
}
@if (ViewBag.Partial == "true"){
    Layout = null;
}
<div>



    <div class="gigMap">
        @if (ViewBag.User == "Listener" || ViewBag.User == "Artist")
        {
            <iframe width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src="@ViewBag.Route" allowfullscreen></iframe>
        }
        else if (ViewBag.User == "other" || ViewBag.User == "Visiter")
        {
            <iframe width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src="@ViewBag.Map" allowfullscreen></iframe>
        }
        else if (ViewBag.User == "Gig Admin" && ViewBag.Partial == "false")
        {
            <iframe width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src="@ViewBag.Map" allowfullscreen></iframe>
        }
    </div>

    <div class="gigProfile">
        <h2>@Html.DisplayFor(model => model.gig.Name)</h2>
        <div class="profileImage">
            <img src="@Url.Action("ShowPhoto","Photos", new {PhotoId = ViewBag.PhotoId})" width="350">
        </div>
        <div class="profileDetails">
            <div>
                @Html.ActionLink((Model.venue.Name), "VenueView", "Venues", new { VenueId = Model.venue.VenueId }, null)
            </div>
            <div>
                @Html.DisplayFor(model => model.gig.Date)
            </div>
            <div>
                @Html.DisplayFor(model => model.gig.Time)
            </div>
            <div>
                <text>$ </text>@Html.DisplayFor(model => model.gig.Cover)
            </div>
        </div>
        <br />
        <br />

        <div style="clear: both">
            <dl class="dl-horizontal">
                @if (ViewBag.User == "Artist")
            {
                    <dt>
                        @Html.DisplayNameFor(model => model.gig.LoadInInsrtuctions)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.gig.LoadInInsrtuctions)
                    </dd>
                }


                @if (ViewBag.User == "Gig Admin" && ViewBag.Partial == "false")
            {
                    <dt>
                        @Html.DisplayNameFor(model => model.gig.DefaultGenre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.gig.DefaultGenre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.gig.DefaultArtistType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.gig.DefaultArtistType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.gig.DefaultCompensation)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.gig.DefaultCompensation)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.gig.DefaultPerks)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.gig.DefaultPerks)
                    </dd>
                }
            </dl>
            @if (ViewBag.Partial == "true" || ViewBag.Partial == "truthy")
            {
                <h3>@Html.ActionLink("View full Gig", "GigView", new { gigId = Model.gig.GigId, partial = "false" })</h3>
            }
        </div>
    </div>




</div>
@if (ViewBag.Partial == "false")
{
    <div style="clear:both">
        @if (Model.bill.Count > 0)
        {

            <h4>@Html.Action("Index", "Slots", new { bill = Model.bill })</h4>
        }
    </div>
}



@if (ViewBag.User == "Gig Admin" && ViewBag.Partial == "false")
{
    <h3>
        @Html.ActionLink("Add a slot", "Create", "Slots", new { gigId = Model.gig.GigId }, null) |
        @Html.ActionLink("Publish Gig", "Finish", "Gigs", new { gigId = Model.gig.GigId }, null)
    </h3>
}
@if (ViewBag.User == "Listener")
{
    if (ViewBag.Watched == "true")
    {
        <h3>You are Watching @Html.DisplayFor(model => model.gig.Name)</h3>

    }
    else
    {
        <h3>@Html.ActionLink("Watch this Gig", "Create", "GigRelationships", new { gigId = Model.gig.GigId }, null)</h3>
    }
}





