@model GigNow.Models.GigViewModelVM
@{
    ViewBag.Title = "GigView";
}
<div>
    <h2>@Html.DisplayFor(model => model.gig.Name)</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img src="@Url.Action("ShowPhoto","Photos", new {PhotoId = ViewBag.PhotoId})" width="400" height="400">
        </div>
        <div class="col-md-4">
            @if (ViewBag.User == "Artist" || ViewBag.User == "Listener")
            { 
                <iframe width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        src="@ViewBag.Route" allowfullscreen></iframe>
            }
            else
            {
                <iframe width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        src="@ViewBag.Map" allowfullscreen></iframe>
            }
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.venue.Name)
        </dt>

        <dd>
            @Html.ActionLink((Model.venue.Name),"VenueView", "Venues", new {VenueId = Model.venue.VenueId }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gig.Cover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gig.Cover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gig.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gig.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gig.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gig.Time)
        </dd>
        @if (ViewBag.User == "Gig Admin" || ViewBag.User == "Artist")
        {
            <dt>
                @Html.DisplayNameFor(model => model.gig.LoadInInsrtuctions)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gig.LoadInInsrtuctions)
            </dd>
        }


        @if (ViewBag.User == "Gig Admin")
        {
            <dt>
                @Html.DisplayNameFor(model => model.gig.DefaultGenre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gig.DefaultGenre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gig.DefaultArtistType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gig.DefaultArtistType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.gig.DefaultCompensation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gig.DefaultCompensation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.gig.DefaultPerks)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gig.DefaultPerks)
            </dd>
        }


    </dl>
</div>
    @if(Model.bill.Count > 0)
    {
        <h2>Bill</h2>
        @Html.Action("Index","Slots", new {bill = Model.bill})
    }
    else
    {
        <h4>No Slots added</h4>
    }
    @if(ViewBag.User == "Gig Admin")
    {
        @Html.ActionLink("Add a slot","Create","Slots", new {gigId = Model.gig.GigId}, null)
        @Html.ActionLink("Publish Gig", "Finish", "Gigs", new {gigId = Model.gig.GigId},null)
    }
    @if (ViewBag.User == "Listener")
    {
        if (ViewBag.Watched == "true")
        {
            <h5>You are Wathing @Html.DisplayFor(model => model.gig.Name)</h5>

        }
        else
        {
            @Html.ActionLink("Watch this Gig", "Create", "GigRelationships", new { gigId = Model.gig.GigId }, null)        
        }
    }





