@model IEnumerable<GigNow.Models.Gig>

@{ Layout = null;}

<table class="table">
        @if (ViewBag.gigview == "Listener")
        {
            <caption><h1>Watchlist</h1></caption>
        }
        else
        {
            <caption><h1>Gigs</h1></caption>
        }
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        @if (ViewBag.gigView != "Venue")
        {
            <th>
                @Html.DisplayNameFor(model => model.Venue.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue.address.zipcode.city.Name)
            </th>
        }

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (String.IsNullOrWhiteSpace(item.Name))
            {
                <td>
                    @Html.ActionLink(("Gig at "+ item.Venue.Name), "GigView", "Gigs", new { gigId = item.GigId, partial = "false" }, null)
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink(item.Name, "GigView", "Gigs", new { gigId = item.GigId, partial = "false" }, null)
                </td>
            }

            <td>
                @item.Date.ToShortDateString()
            </td>
            @if (ViewBag.gigView != "Venue")
            {
                <td>
                    @Html.ActionLink(item.Venue.Name, "VenueView", "Venues", new { venueId = item.Venue.VenueId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.address.zipcode.city.Name)
                </td>
            }

        </tr>
    }
</table>